/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Общие стили */
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Buttons */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  padding: 8px 10px;
  margin: 0;

  border-radius: 4px;
  border: none;
  background-color: #756157;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button:disabled,
.button-disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover {
  background-color: #68a2ca;
}

.button-light:focus-visible {
  background-color: #68a2ca;
}

.button-light:active {
  background-color: #82b3d3;
}

.button-light:disabled {
  background-color: #e5e5e5;
}

.button-favorites {
  background-color: #7db54f;
}

.button-favorites:hover {
  background-color: #6c9e42;
}

.button-favorites:focus-visible {
  background-color: #6c9e42;
}

.button-favorites:active {
  background-color: #7db54f;
}

.button-favorites:disabled {
  background-color: #e5e5e5;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-transparent:focus-visible {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.button-transparent:active {
  background-color: transparent;
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

.heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

/* Form input */
.form-input {
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  padding: 12px 20px;
}

.form-input::placeholder {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.form-input:hover {
  background-color: #e6e6e6;
}

.form-input:focus-visible {
  background-color: #e6e6e6;
}

.container {
  width: 660px;
  margin: 0 auto;
}
/* // Общие стили */

.page-container {
  width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

body {
  display: flex;  /* sticky footer */
  flex-direction: column;  /* sticky footer */

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
}

/* Header */
.page-header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
  padding: 0 70px;
  color: #000000;
}

/* Logo */
.logo {
  position: relative;
  display: block;
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
  z-index: 1;
}

.logo[aria-current] {
  pointer-events: none;
}

.logo:not([aria-current]):hover {
  opacity: 0.6;
}

.logo:focus-visible {
  opacity: 0.6;
}

.logo:not([aria-current]):active {
  opacity: 0.3;
}
/* // Logo*/

/* Navigation */
.navigation {
  display: flex;
  align-items: self-start;
  gap: 20px;
}

/* Navigation list */
.navigation-list {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 14px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link[aria-current] {
  pointer-events: none;
}

.navigation-link:not([aria-current]):hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-link:focus-visible {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-link:not([aria-current]):active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}
/* Navigation list */

/* User list */
.user-list {
  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}

.user-link {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:focus-visible {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.user-link-search {
  background-image: url("../images/icons/search.svg");
}

.user-link-favorites {
  background-image: url("../images/icons/heart.svg");
}

.favorites-counter {
  position: absolute;
  top: 12px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 10px;

}

.navigation-button {
  min-width: 160px;
  max-width: 200px;
  margin: 14px 0;
}
/* // User list */
/* // Navigation */

/* Main */
.main-page {
  flex-grow: 1; /* sticky footer */
}

/* Hero */
.hero {
  color: #fff;
  background-color: #708ea1;
  background-image: url(../images/icons/divider.svg), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: bottom center;
  padding: 51px 70px 82px;
}

.hero-images {
  display: block;
  margin: 0 auto;
}
/* // Hero */

/* Advantages */
.advantages {
  padding-top: 69px;
}

.advantages-title {
  margin: 0 0 25px;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 90px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  background-color:rgba(131, 179, 211, 0.12);
}

.advantages-item-wide {
  grid-column: 1 / -1;
  display: flex;
  background-color: #82b3d3;
}

.advantages-item:not(.advantages-item-wide):nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 75px 84px;
  min-height: 385px;
}

.advantages-wrapper > *:not(:last-child) {
  margin: 0 0 30px;
}


.advantages-wrapper::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  order: 2;
}

.advantages-item-wide .advantages-wrapper::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-wide:nth-child(even of .advantages-item-wide) {
  flex-direction: row-reverse;
}

.advantages-item-wide .subtitle,
.advantages-item-wide .advantages-text{
  color: #ffffff;
}

.advantages-subtitle {
  margin: 0;
  order: 1;
}

.advantages-text {
  font-size: 18px;
  text-align: center;
  margin: 0;
  order: 3;
}
/* // Advantages */

/* Recommend */
.recommend {
  padding-top: 64px;
}

.recommend-title {
  margin: 0 0 20px;
}

.recommend-desc {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 64px;
}

.recommend-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recommend-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 72px 85px 80px;
}

.recommend-item > *:not(:last-child) {
  margin: 0 0 30px;
}

.recommend-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.recommend-item::before {
  content: "";
  width: 84px;
  height: 84px;
  align-self: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #83b3d3;
  margin-bottom: 28px;
}

.recommend-item-housing::before {
  -webkit-mask-image: url("../images/icons/housing.svg");
  mask-image: url("../images/icons/housing.svg");
}

.recommend-item-eating::before {
  -webkit-mask-image: url("../images/icons/eating.svg");
  mask-image: url("../images/icons/eating.svg");
}

.recommend-item-souvenir::before {
  -webkit-mask-image: url("../images/icons/souvenir.svg");
  mask-image: url("../images/icons/souvenir.svg");
}

.recommend-subtitle {
  margin: 0;
}

.recommend-text {
  font-size: 18px;
  text-align: center;
  margin: 0;
}
/* // Recommend */

/* Search hotels */
.search {
  padding:  96px 70px;
}

.search-title {
  margin: 0 0 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 54px;
}

.search-button {
  min-width: 376px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}
/* // Search hotels */

/* Subscribe */
.subscribe {
  padding: 96px 0 104px;
}

.subscribe-images {
  background-color: #82B3D3;
  background-image: url("../images/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form {
  max-width: 684px;
  margin: 0 auto;
  min-height: 52px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.subscribe-title {
  grid-column: 1 / -1;
  margin: 0 0 20px;
}

.subscribe-description {
  grid-column: 1 / -1;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 55px;
}

.subscribe-images .title,
.subscribe-images .subscribe-description {
  color: #ffffff;
}

.subscribe-input {
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  min-width: 232px;
  max-width: 300px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0
}
/* // Subscribe */

/* Inner page catalog */
.main-filter-container {
  background-color: #82B3D3;
  background-image: url("../images/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
}

.main-heading {
  margin: 0 0 8px;
}

/* Breadcrumbs */
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -5px 40px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  -webkit-mask: url("../images/icons/breadcrumbs.svg") no-repeat center;
  mask: url("../images/icons/breadcrumbs.svg") no-repeat center;
  background-color: #ffffff;
  -webkit-mask-size: contain;
  mask-size: contain;
  margin: 0 3px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}


/* Breadcrumbs link home */
.breadcrumbs-link-home {
  display: block;
}

.breadcrumbs-link-home::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #ffffff;
}

.breadcrumbs-link-home::after {
  -webkit-mask: url("../images/icons/home.svg");
  mask: url("../images/icons/home.svg");
}

.breadcrumbs-link-home:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-home:focus-visible::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active::after {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus-visible {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}
/* // Breadcrumbs link home */
/* // Breadcrumbs */

/* Filter Form */
.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 70px;
}

.filter-fieldset-group {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-fieldset-options,
.filter-fieldset-housing {
  min-width: 150px;
  max-width: 180px;
}

.filter-fieldset-housing {
  margin-right: auto;
}

.filter-fieldset-price {
  display: flex;
  flex-direction: column;
  max-width: 288px;
}

.filter-legend {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 -2px 32px;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

/* Checkbox */
.filter-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: none;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  appearance: none;
  margin: 0;
}

.filter-checkbox:checked:checked:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/checkbox.svg");
  background-repeat: no-repeat;
}
/* // Checkbox */

/* Radio */
.filter-radio {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  border: none;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin: 0;
}

.filter-radio:checked:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border-radius: 50%;
}
/* // Radio */

.filter-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.filter-name {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}

.filter-form-text {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

.filter-input:hover,
.filter-input:hover + .filter-name{
  opacity: 0.6;
}

.filter-input:focus-visible {
  opacity: 0.6;
}

.filter-input:active {
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.filter-input:active,
.filter-input:active + .filter-name{
  opacity: 0.3;
}

.filter-input:disabled,
.filter-input:disabled + .filter-name{
  opacity: 0.3;
  pointer-events: none;
}

/* Filter price controls */
.filter-price-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  margin-bottom: 44px;
}

.filter-form-label-price {
  display: grid;
  align-items: center;
}

.filter-form-label-price .filter-form-text {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  z-index: 1;
  padding: 13px 18px 11px;
}

.filter-form-label-price .filter-form-range {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  padding: 13px 45px 12px 20px;
  appearance: textfield;
}

.filter-form-range::-webkit-outer-spin-button,
.filter-form-range::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-form-label-price .form-input::placeholder {
  font-weight: 700;
}

.filter-form-range-min-price {
  border-radius: 4px 0 0 4px;
}

.filter-form-range-max-price {
  border-radius: 0 4px 4px 0;
}

.filter-form-text {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}
/* form number  */

/* Range  */
.filter-range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px;
}

.filter-rage-bar {
  height: 4px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
}

.filter-range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  border: 1px solid transparent;
}

.filter-range-toggle:hover {
  box-shadow: 0 0 0 2px #83b3d3;
}

.filter-toggle-min {
  top: -8px;
  left: 0;
}

.filter-toggle-max {
  top: -8px;
  right: -1px;
}
/* // Range */
/* // Filter price controls */

.filter-form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  padding-top: 56px;
}

.filter-form-button {
  min-width: 191px;
  max-width: 220px;
}
/* // Filter Form */

/* Catalog */
.catalog {
  padding: 47px 70px 60px
}

/* Sorting */
.sorting-container {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  align-items: center;

  gap: 70px;
  margin-bottom: 39px;
}

.sorting-title {
  min-width: 340px;
  text-align: left;
  margin: 0 auto 0 0;
}

/* Sorting control */
.sorting-control {
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  background-image: url("../images/icons/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: center right 14px;
  background-size: 21px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  padding: 14px 40px 14px 18px;
  appearance: none;
  cursor: pointer;
}

.sorting-control:hover {
  border: 2px solid #68a2ca;
}

.sorting-control:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.sorting-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}
/* // Sorting control */

/* Sorting view card */
.sorting-view-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

.sorting-view-button {
  width: 48px;
  height: 48px;

  display: inline-block;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.button-view-card {
  background-image: url("../images/icons/card-group.svg");
}

.button-view-slide {
  background-image: url("../images/icons/card-slideshow.svg");
}

.button-view-list {
  background-image: url("../images/icons/card-list.svg");
}

.sorting-active {
  border-color: #000;
}

.sorting-view-button:hover {
  border-color: #000;
}

.sorting-view-button:focus-visible {
  border-color: #000;
}

.sorting-view-button:active {
  border-color: #000;
}
/* // Sorting view card */
/* // Sorting */

/* Catalog card */
/* для кнопки button-view-card */
.catalog-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.catalog-card .catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  align-items: self-start;
  gap: 16px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgb(230, 230, 230);
}

.catalog-card .catalog-link-subtitle {
  grid-column: 1 / -1;
}

.catalog-card .catalog-link-image {
  grid-column: 1 / -1;
  order: -1;
  height: 212px;
}
/* // для кнопки button-view-card */

.catalog-link-subtitle {
  text-transform: capitalize;
  text-decoration: none;
}

 .catalog-link-image:hover {
  opacity: 0.6;
}

.catalog-link-subtitle:hover .catalog-subtitle {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-link-subtitle:focus-visible .catalog-subtitle {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-link-subtitle:active .catalog-subtitle {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-subtitle {
  text-transform: none;
  text-align: left;
  margin: 0;
}

.catalog-name {
  font-size: 18px;
  margin: 0;
}

.catalog-price {
  font-size: 18px;
  text-align: right;
  margin: 0;
}

.catalog-rating {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 5px 8px;
  margin: 0;
}

/* Stars Rating */
.stars {
  display: block;
  width: 24px;
  height: 17px;
  gap: 6px;
  -webkit-mask-image: url("../images/icons/star.svg");
  mask-image: url("../images/icons/star.svg");
  -webkit-mask-repeat: repeat space;
  mask-repeat: repeat space;
  background-color: #83B3D3;
  margin: 9px 0 0;
}

.stars-1 {
  width: 24px;
}

.stars-2 {
  width: 48px;
}

.stars-3 {
  width: 72px;
}

.stars-4 {
  width: 96px;
}

.stars-5 {
  width: 120px;
}
/* // Stars rating */
/* // Catalog card */

/* Pagination */
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  border-top: 1px solid #e6e6e6;
  padding: 39px 0 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 60px;
  min-height: 60px;
  padding: 10px;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-link-current {
  color: #000;
  background-color: #f2f2f2;
  border-color: transparent;
  pointer-events: none;
}

.pagination-link-current:hover {
  background-color: #f2f2f2;
}

.pagination-link-current:focus-visible {
  background-color: #f2f2f2;
}

.pagination-link-current:active {
  background-color: #f2f2f2;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000;

  background-color: #ffffff;
  border-color: transparent;
}

.pagination-link-more:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border-color: #68a2ca;
}

.pagination-link-more:focus-visible {
  background-color: transparent;
  border-color: #68a2ca;
}

.pagination-link-more:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-color: #68a2ca;
}
/* // Pagination */
/* // Catalog */
/* // Inner page catalog */
/* // Main */

/* Footer */
.footer-page {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 42px 70px 30px;
  color: #000000;
}

/* Social list */
.social-list{
  min-width: 145px;
  max-width: 240px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-list-link {
  display: block;
  padding: 14px 12px;
}

.social-list-link::after {
  content: "";
  display: block;
  width: 24px;
  height: 17px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #83b3d3;
}

.social-icon-vk::after {
  -webkit-mask-image: url("../images/social/vk.svg");
  mask-image: url("../images/social/vk.svg");
}

.social-icon-telegram::after {
  -webkit-mask-image: url("../images/social/telegram.svg");
  mask-image: url("../images/social/telegram.svg");
}

.social-icon-youtube::after {
  -webkit-mask-image: url("../images/social/youtube.svg");
  mask-image: url("../images/social/youtube.svg");
}

.social-list-link:hover::after {
  background-color: #68a2ca;
}

.social-list-link:active::after {
  background-color: rgba(104, 162, 202, 0.3);
}

.social-list-link:focus-visible::after {
  background-color: #68a2ca;
}
/*// Social list */

/* Contacts phone */
.address-contacts {
  max-width: 334px;
  margin: 0 auto;
  font-style: normal;
}

.contacts-phone-link {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.contacts-phone-link:hover {
  color: #756157;
}

.contacts-phone-link:focus-visible {
  color: #756157;
}

.contacts-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}
/* // Contacts phone */

/* Htmlacademy link */
.htmlacademy-link {
  display: block;
}

.htmlacademy-link::after {
  content: "";
  display: block;
  width: 116px;
  height: 34px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #000000;
}

.htmlacademy-link::after {
  -webkit-mask: url("../images/icons/logo-htmlacademy.svg");
  mask: url("../images/icons/logo-htmlacademy.svg");
}

.htmlacademy-link:hover:after {
  background-color: #756157;
}

.htmlacademy-link:focus-visible::after {
  background-color: #756157;
}

.htmlacademy-link:active::after {
  background-color: rgba(117, 97, 87, 0.3);;
}
/* // Htmlacademy link */
/* // Footer */

/* Modal  */
.modal-serch {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 30px;
  padding: 0;
  overflow-y: hidden;
  margin: 100px auto;
}

.modal-serch::backdrop {
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container {
  position: relative;
  width: 717px;
  padding: 64px 70px;
  background-color: #ffffff;
  margin: 0 auto;
}

/* Modal button close */
.modal-button-close {
  position: absolute;
  top: 64px;
  right: 52px;
  z-index: 1;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-button-close::before,
.modal-button-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 17px;
  height: 2px;

  background-color: #000000;
}

.modal-button-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-button-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-button-close:hover {
  background-color: #e6e6e6;
}

.modal-button-close:focus-visible {
  background-color: #e6e6e6;
}

.modal-button-close:active {
  background-color: #e6e6e6;
}

.modal-button-close:active::before,
.modal-button-close:active::after {
  opacity: 0.3;
}
/* // Modal button close */

.modal-title {
  max-width: 520px;
  text-align-last: left;
  margin: 0 0 64px;
}

/* Modal-form */
.modal-form {
  display: grid;
  grid-template-columns: 248px 1fr;
  gap: 23px 48px;
}

.modal-field-group {
  grid-column: 1 / -1;
  margin: 0;
}

.modal-field-group .form-input::placeholder {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

.modal-field-group-date {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 24px;
  align-items: center;
}

.modal-form-label-data {
  max-width: 120px;
}

.modal-form-input-date {
  grid-column: 2 / -1;

  padding: 12px 56px 10px 18px;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px 15px;
}

.modal-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}


.modal-form-message {
  grid-column: 2 / -1;
  padding: 4px 20px;
}

.form-message-error {
  color: #ff5757;
}

.modal-group-adults {
  grid-column: 1 / 2;

  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 46px;
  align-items: center;
}

.modal-form-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.modal-form-input {
  width: 31px;
  padding: 13px 5px 11px;
  line-height: 20px;
  text-align: center;
  appearance: textfield;
  border: 0;
}

.modal-form-container .modal-form-input[type="number"]::placeholder {
  color: #000000;
}

.modal-form-input[type="number"]:hover {
  color: #000000;
}

.modal-form-input[type="number"]:focus-visible {
  color: #000000;
  z-index: 1;
}

.modal-form-input[type="number"]::-webkit-outer-spin-button,
.modal-form-input[type="number"]::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
  appearance: none;
}

.modal-form-input[type="number"] {
  -moz-appearance: textfield;
}

/* Button */
.modal-form-button   {
  position: relative;
  display: flex;
  width: 40px;
  min-height: 48px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  appearance: none;
  cursor: pointer;
}

.modal-form-button::after {
  content: "";
  width: 20px;
  height: 20px;

  margin: auto;
  background-color: rgba(117, 97, 87, 0.3);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.modal-form-button-decrease::after {
  -webkit-mask: url("../images/icons/minus.svg");
  mask: url("../images/icons/minus.svg");
}

.modal-form-button-increase::after {
  -webkit-mask: url("../images/icons/plus.svg");
  mask: url("../images/icons/plus.svg");
}

.modal-form-button:not(:disabled):hover::after {
  background-color: #000;
}

.modal-form-button:not(:disabled):focus-visible::after {
  background-color: #000;
}

.modal-form-button:not(:disabled):active::after {
  background-color: rgba(0, 0, 0, 0.2);
}
/* // Button */

.modal-group-children {
  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: end;
  gap: 46px;
}

/* Tooltip */
.modal-with-tooltip {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.modal-tooltip {
  position: relative;
}

.modal-tooltip-text {
  position: absolute;
  top: 100%;
  left: 53%;
  display: none;
  width: 256px;
  margin-top: 13px;
  padding: 20px 18px 23px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.modal-tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 44%;
  border: 8px solid transparent;
  border-bottom: 8px solid #333333;
  transform: inherit;
}

.modal-tooltip-toggle {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;

  background-color: #83b3d3;
  border-radius: 50%;

  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.modal-tooltip-toggle::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;

  top: 50%;
  left: 50%;

  -webkit-mask: url("../images/icons/info.svg") center / contain no-repeat;
  mask: url("../images/icons/info.svg") center / contain no-repeat;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.modal-tooltip-toggle:hover {
  background-color: #68a2ca;
}

.modal-tooltip-toggle:focus-visible {
  background-color: #68a2ca;
}

.modal-tooltip-toggle:active {
  background-color: #68a2ca;
}

.modal-tooltip-toggle:hover + .modal-tooltip-text,
.modal-tooltip-toggle:focus-visible + .modal-tooltip-text {
  display: block;
}
/* // Tooltip */

/* Modal form button */
.modal-search-button {
  grid-column: 1 / -1;
  padding: 12px 10px;
  border-radius: 10px;
  margin-top: 25px;
  background-color: #83b3d3;
}

.modal-search-button:hover {
  background-color: #68a2ca;
}

.modal-search-button:focus-visible {
  background-color: #68a2ca;
}

.modal-search-button:active {
  background-color: #68a2ca;
}
/* // Modal form button */
/* // Modal-form */
/* // Modal */
